build_model/input/precursors/Rhoto_IFO0880_4/Rhoto_IFO0880_4_GeneModels_AllModels_20170509_nt.fasta
build_model/input/precursors/Rhoto_IFO0880_4/Rhoto_IFO0880_4_GeneModels_AllModels_20170509_aa.fasta
build_model/input/precursors/Rhoto_IFO0880_4/Rhoto_IFO0880_4_GeneModels_AllModels_20170509_cds.fasta
pycore/binary_search/fluxcoupling_textbook/fcf4.lst
build_model/input/precursors/Rhoto_IFO0880_4/Rhoto_IFO0880_4_GeneModels_AllModels_20170509_nt.fasta
build_model/input/precursors/Rhoto_IFO0880_4/Rhoto_IFO0880_4_GeneModels_AllModels_20170509_cds.fasta
pycore/binary_search/fluxcoupling_textbook/fcf4.lst
optional-extras/Rhoto_IFO0880_4.rar
optional-extras\Rhoto_IFO0880_4.rar
*.lsts
*.log
*.fasta
*.lst
*.gz
.temp_*
\~\$*.xlsx
\~\$*.xlsm
build_model/input/precursors/Rhoto_IFO0880_4/Rhoto_IFO0880_4_GeneModels_AllModels_20170509_cds.fasta
build_model/input/precursors/Rhoto_IFO0880_4/Rhoto_IFO0880_4_GeneModels_AllModels_20170509_nt.fasta
pycore/binary_search/fluxcoupling_textbook/fcf4.lst
./build_model/input/precursors/Rhoto_IFO0880_4/Rhoto_IFO0880_4_GeneModels_AllModels_20170509_nt.fasta
./build_model/input/precursors/Rhoto_IFO0880_4/Rhoto_IFO0880_4_GeneModels_AllModels_20170509_cds.fasta
./build_model/input-nonRekena/precursors/Rhoto_IFO0880_4/Rhoto_IFO0880_4_GeneModels_AllModels_20170509_nt.fasta
./build_model/input-nonRekena/precursors/Rhoto_IFO0880_4/Rhoto_IFO0880_4_GeneModels_AllModels_20170509_cds.fasta
./pycore/binary_search/fva-enzload.lst
./pycore/binary_search/fluxcoupling_textbook/fcf4.lst
delete 2.30.31 PM.txt
delete v2.txt
hostage copy 2
delete
delete
delete copy
./delete
delete2
delete3
suppMat/fig1-escher/escher_map_with_zooms_new.psd